<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HETIC_chat</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li>Register</li>
                <li>Login</li>
                <li>Chat</li>
            </ul>
        </nav>
    </header>

    <main></main>

    <footer>
        <p>Under WTFPL - 2019 Léa MATHIEU</p>
    </footer>
</body>

</html>